/* Facebook Styling for Demo */
body {
  background: #fff;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size: 11px; }
  body #header {
    background: #3b5988;
    height: 41px; }
  body a {
    color: #3b5988;
    font-weight: bold;
    text-decoration: none; }
  body .container_12 .grid_8 {
    width: 493px; }
  body .main, body #feed {
    border-left: 1px solid #b3b3b3;
    padding-left: 20px; }
    body .main h2#preview_h2, body #feed h2#preview_h2 {
      color: #1C2A47;
      font-size: 16px;
      line-height: 22px; }
      body .main h2#preview_h2 span, body #feed h2#preview_h2 span {
        background: transparent url("https://s-static.ak.facebook.com/rsrc.php/v1/yi/r/XY1BTEJBstt.png") no-repeat -51px -276px;
        width: 16px;
        height: 18px;
        float: left;
        display: block;
        margin-right: 6px; }
  body .main {
    padding-top: 10px; }
    body .main #preview_form {
      position: relative; }
    body .main div.field {
      margin-top: 20px;
      position: relative;
      border: 1px solid #B4BBCD;
      padding: 10px; }
      body .main div.field label {
        position: absolute;
        color: #777;
        font-size: 13px;
        left: 14px;
        top: 13px; }
      body .main div.field textarea {
        border: 1px solid #BDC7D8;
        color: #333;
        width: 462px;
        resize: none;
        font-size: 13px;
        padding: 3px;
        line-height: 16px;
        height: 16px;
        cursor: text; }
    body .main #id_submit {
      background: #eeeeee url("https://s-static.ak.facebook.com/rsrc.php/v1/yf/r/_IKHHfAgFQe.png") 0px -49px;
      border: 1px solid #999;
      border-bottom: 1px solid #888;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      -o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      padding: 2px 4px;
      line-height: normal !important;
      white-space: nowrap;
      cursor: pointer;
      font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
      font-size: 13px;
      color: #333;
      font-weight: bold;
      text-align: center;
      outline: none;
      right: 12px;
      top: 11px;
      position: absolute; }
      body .main #id_submit.submit {
        background-color: #5B74A8;
        background-position: 0px -98px;
        border-color: #29447E #29447E #1A356E;
        color: #fff;
        top: inherit;
        bottom: 10px; }
  body #preview_form.preview {
    margin-top: 20px;
    position: relative;
    border: 1px solid #B4BBCD;
    padding: 10px; }
    body #preview_form.preview #form_field {
      display: none; }
    body #preview_form.preview a.title {
      color: #000;
      font-size: 12px;
      cursor: pointer; }
      body #preview_form.preview a.title:hover {
        background: #ff9; }
    body #preview_form.preview a.description {
      color: #000;
      font-size: 11px;
      cursor: pointer; }
      body #preview_form.preview a.description:hover {
        background: #ff9; }
    body #preview_form.preview #display .controls {
      position: static; }
    body #preview_form.preview #display .wrap {
      padding-bottom: 20px; }
    body #preview_form.preview #display p.url {
      white-space: nowrap;
      overflow: hidden;
      width: 250px;
      color: #666;
      margin-bottom: 5px; }
    body #preview_form.preview #left, body #preview_form.preview #right {
      width: 25px;
      height: 22px;
      display: block;
      text-indent: -9999em;
      outline: none;
      top: auto;
      bottom: 10px; }
    body #preview_form.preview #left {
      left: 10px;
      background: transparent url("https://s-static.ak.facebook.com/rsrc.php/v1/yi/r/8OjNXDy3pHp.gif") no-repeat -50px -83px; }
      body #preview_form.preview #left:hover {
        background-position: 0px -83px; }
      body #preview_form.preview #left:active {
        background-position: -100px -83px; }
    body #preview_form.preview #right {
      right: auto;
      left: 35px;
      background: transparent url("https://s-static.ak.facebook.com/rsrc.php/v1/yi/r/8OjNXDy3pHp.gif") no-repeat -75px -83px; }
      body #preview_form.preview #right:hover {
        background-position: -25px -83px; }
      body #preview_form.preview #right:active {
        background-position: -125px -83px; }

#feed .item {
  clear: both;
  border-color: #E9E9E9; }
#feed .profilepic {
  width: 50px;
  margin-right: 10px;
  float: left; }
#feed h6 {
  font-size: 11px;
  font-weight: bold;
  color: #3B5998;
  margin-bottom: 5px; }
#feed .embed {
  margin: 0 0 0 60px; }
  #feed .embed p {
    font-size: 11px;
    line-height: 14px; }
    #feed .embed p.via {
      clear: left; }
      #feed .embed p.via .postIcon {
        width: 16px;
        height: 16px;
        float: left;
        margin-right: 3px; }
